span{
    color: #037BC0;
}
h1, h2, h3{
    text-align: center;
    font-family: 'Playfair' 
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-size: 62.5;
    font-family: Relaway;
    *no vi como jalar la fuente*
}

h1{
    font-size: 5rem;
}

h2, h3{
    font-size: 4rem;    
}
*no se ve nada*
.hero image{
    height: 600rem;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.producto section{
    background-color: #037BC0;
}
.producto a{
    padding: 5px;
    border: 7px;
    border-color: #8cbc00;
    background-color: #8cbc00;
    border-radius: 3px;
    color: white;
    
}
.producto{
width: 80%;
padding: 100px;
color: aliceblue;
text-align: center;

}
#pro1{
    display: grid;
    grid-template-columns:50% 50%;
    padding: 10px;
   }

#pro2{
    display: grid;
    grid-template-columns: 50% 50%;
    

}
#pro2 div{
    padding: 10px;
}

#pro3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
   
}
#pro3 div{
    padding: 10px;
}

#fotos{
    display: grid;
    width: 80%;
    grid-template-columns: 33% 33% 33%;
    padding: 100px;
}
footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding: 50px;
}